
<button id="switch">Switch view</button>

<canvas id="viewport" height="400"></canvas>

<table id='requirements_list' data-bind="foreach: requirements, event: {mouseleave: update_graph_for_all_reqs}">
  <tr data-bind="with: requirement, event: {
                                      mouseenter: $parent.update_graph_for_req, 
                                      click: $parent.show
                                    }">
    <td class='id' data-bind="text: id"></td>
    <td>
      <a data-bind="text: title, attr: {href: url}"></a>
    </td>
  </tr>
</table>

<p class="create_requirement"><%= link_to 'New Requirement', new_requirement_path %></p>

<script type="text/javascript">
  $(function(){

    var canvas = $("#viewport").get(0);
    var requirementsGraph = needs.requirementsGraph(canvas);

    $.getJSON("<%= requirements_path(:format => :json) %>", function(data){
      var mapped_data = ko.mapping.fromJS(data);

      var viewModel = {
        requirements: mapped_data(),

        show: function(){
          var href = this.requirement.url();
          window.location.href = href;
        },

        update_graph_for_req: function(){
          requirementsGraph.update_graph_for_req(this.requirement);
        },

        update_graph_for_all_reqs: function(){
          requirementsGraph.update_graph_for_reqs(mapped_data());
        }
      };

      ko.applyBindings(viewModel);
      requirementsGraph.update_graph_for_reqs(mapped_data());
    });

    var switchToList = function(){
      $("#requirements_list").show();
      canvas.width = 400; //TODO: make dynamic!
      requirementsGraph.resize();
    };

    var switchToGraph = function(){
      $("#requirements_list").hide();
      var width = $(".content").get(0).offsetWidth;
      canvas.width = width;
      requirementsGraph.resize();
    };

    var indexMode = $.cookie("indexMode");
    if (indexMode === null || indexMode === "graph"){
      $("#requirements_list").hide();
      switchToGraph();
    }

    $("#switch").click(function() {
      var indexMode = $.cookie("indexMode");

      if (indexMode === null || indexMode === "list"){
        switchToGraph();
        $.cookie("indexMode", "graph");
      } else {
        switchToList();
        $.cookie("indexMode", "list");
      }
    });

  });
</script>
