<h1>Requirements</h1>

<canvas id="viewport" width="800" height="600"></canvas>

<ul class='requirements_list' data-bind="foreach: requirements">
  <li data-bind="with: requirement">
    <a class='requirement_block' data-bind="attr: {href: url}">
      <span class='req_id' data-bind="text: id"></span>
      <span class='title' data-bind="text: title"></span>
      <span class='body' data-bind="text: body"></span>
    </a>
  </li>
</ul>

<style type="text/css">
  .requirements_list li {list-style-type: none; margin-bottom: 0.3em;}
  .requirements_list .body {font-size: smaller;}
  #viewport {float: right;}
</style>

<script type="text/javascript">
  $(function(){

    $.getJSON("<%= requirements_path %>", function(data) { 
      ko.applyBindings({requirements: data});
    });

  });
</script>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
