<canvas id="viewport" width="400" height="400"></canvas>

<table id='requirements_list' data-bind="foreach: requirements, event: {mouseleave: update_graph_for_all_reqs}">
  <tr data-bind="with: requirement, event: {
                                      mouseenter: $parent.update_graph_for_req, 
                                      click: $parent.show
                                    }">
    <td class='id' data-bind="text: id"></td>
    <td>
      <a data-bind="text: title, attr: {href: url}"></a>
    </td>
  </tr>
</table>

<p class="create_requirement"><%= link_to 'New Requirement', new_requirement_path %></p>

<script type="text/javascript">
  $(function(){

    var canvas = $("#viewport").get(0);
    var requirementsGraph = needs.requirementsGraph(canvas);

    $.getJSON("<%= requirements_path(:format => :json) %>", function(data){

      var viewModel = {
        requirements: data,

        show: function(){
          var href = this.requirement.url;
          window.location.href = href;
        },

        update_graph_for_req: function(){
          requirementsGraph.update_graph_for_req(this.requirement);
        },

        update_graph_for_all_reqs: function(){
          requirementsGraph.update_graph_for_reqs(data);
        }
      };

      ko.applyBindings(viewModel);
      requirementsGraph.update_graph_for_reqs(data);
    });

  });
</script>
