<canvas id="viewport" width="400" height="400"></canvas>

<table class='requirements_list' data-bind="foreach: requirements">
  <tr data-bind="with: requirement">
    <td class='req_id' data-bind="text: id"></td>
    <td class='title'>
      <a data-bind="text: title, attr: {href: url}"></a>
    </td>
  </tr>
</table>

<style type="text/css">
  .requirements_list .requirement:hover {
    background-color: #ccc
  }
  .requirements_list .requirement a {text-decoration: none;}
  .requirements_list .req_id {float: right;}
  .requirements_list .title {}
  .requirements_list .body {font-size: smaller;}

  #viewport {float: right;}
</style>

<script type="text/javascript">
  $(function(){

    $.getJSON("<%= requirements_path %>", function(data) { 
      ko.applyBindings({requirements: data});
    });

  });
</script>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
