<canvas id="viewport" width="600" height="600"></canvas>

<table class='requirements_list' data-bind="foreach: requirements">
  <tr data-bind="with: requirement">
    <td class='req_id' data-bind="text: id"></td>
    <td class='title'>
      <a data-bind="text: title, attr: {href: url}"></a>
    </td>
  </tr>
</table>

<style type="text/css">
  .requirements_list li {list-style-type: none; margin-bottom: 0.3em;}
  .requirements_list .body {font-size: smaller;}
  #viewport {float: right;}
</style>

<script type="text/javascript">
  $(function(){

    $.getJSON("<%= requirements_path %>", function(data) { 
      ko.applyBindings({requirements: data});
    });

  });
</script>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
