<canvas id="viewport" width="400" height="400"></canvas>

<table id='requirements_list' data-bind="foreach: requirements">
  <tr data-bind="with: requirement">
    <td class='id' data-bind="text: id"></td>
    <td class='title'>
      <a data-bind="text: title, attr: {href: url}"></a>
    </td>
  </tr>
</table>

<style type="text/css">
  #requirements_list {width: 60%;}
  #requirements_list a {text-decoration: none; color: inherit;}
  #requirements_list a:hover {background-color: inherit;}
  #requirements_list td {padding: 0.3em;}
  #requirements_list tr:hover {cursor: pointer; background-color: #ddd;}
  #requirements_list tr {background-color: #eee; border: 1px solid #ddd;}

  #viewport {float: right;}
</style>

<script type="text/javascript">
  $(function(){

    $.getJSON("<%= requirements_path %>", function(data){ 
      ko.applyBindings({requirements: data});

      $("#requirements_list tr").click(function(e){

        var href = $(".title a", e.srcElement.parentElement).attr("href");
        window.location.href = href;
        
      });

    });


  });
</script>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
